{% extends 'core.html' %}

{% block first_section %}
    <h2>Your Cart</h2>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <td>Name </td>
                <td>Count </td>
                <td>Unit Price </td>
                <td>Price </td>
            </tr>
            <br>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <td>
                        {{ item.product.name }}
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        {{ item.price }}
                    </td>
                    <td>
                        {{ item.total_price }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}